.navbar {
  background-color: #f5efe6; /* warm beige background */
  color: #234d20; /* dark green text */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #234d20;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: #234d20;
  font-weight: 500;
}

.navbar-links li a:hover {
  color: #4d774e; /* softer green on hover */
}

.navbar-links li a.active-nav-link {
  font-weight: bold;
  color: #8b4513; /* A distinct color for active link, e.g., saddlebrown */
  border-bottom: 2px solid #8b4513;
  padding-bottom: 3px;
}
